<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="RedJade" Language="1033" Version="1.0.0.0" Manufacturer="RedJade" UpgradeCode="6f3cfa99-fe07-4b90-bf9a-971a04ed2943">
 

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    <UI Id="UserInterface">
      <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
      <Property Id="WixUI_Mode" Value="Custom" />

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <!--<DialogRef Id="ProgressDlg" />-->
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="ExitDialog"
       Control="Finish"
       Event="DoAction"
       Value="LaunchApplication">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>
    

    </UI>

    
    <UIRef Id="WixUI_Common" />
    <Icon Id="RedJade.ico" SourceFile="_build\RedJade.ico"/>
    <Property Id="PROGRAMDATA" Value="c:\ProgramData\RedJade"/>
    <Property Id="ARPPRODUCTICON" Value="RedJade.ico" />
    <Property Id="WixShellExecTarget" Value="[#RJBooth]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />
  </Product>

  <!--<Fragment>
    <Binary Id="CommandPrompt" SourceFile="C:\Windows\System32\cmd.exe" />
    <CustomAction Id="DeleteFolder" BinaryKey="CommandPrompt"
                  ExeCommand='/c rmdir /S /Q "[CommonAppDataFolder]MyAppFolder\PurgeAppFolder"'
                  Execute="immediate" Return="check" />+
  </Fragment>-->
	<Fragment>

   
    
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" SourceName="Desktop" />
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="RedJade" />

      </Directory>
		</Directory>
    
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Guid="a7646cd8-a27c-4898-83fc-016b58e13aab" Id="RedJade">
        <File Id="RedJade" Source="_build/app.exe" >
          <Shortcut
             Id="DesktopShortcut"
             Directory="DesktopFolder"
             Name="RedJade"
             Icon="RedJade.ico"
             WorkingDirectory="MergeRedirectFolder" />
        </File>
        <File Source="_webkit/nw.pak" />
        <File Source="_webkit/icudt.dll" />
        <File Source="_build/RedJade.ico" />
        <RemoveFile  Id="KillAppConfig" On="install" Name="app.config"/>
        <util:RemoveFolderEx On="install" Property="PROGRAMDATA" />

        <RegistryValue Root="HKCU" Key="Software\Microsoft\RedJade" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
		</ComponentGroup>
	</Fragment>


</Wix>